.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 250px;
  height: 153px;
  text-align: justify;
  margin: 1rem;
  mat-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
